@import "variables.scss";

*{
  outline: none!important;
}

body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#app {
  padding: 0;
  margin: 0;

  .container-fluid{
    padding: 0;
    margin: 0;
    >.row{
      padding: 0;
      margin: 0;
      >div{
        padding: 0;
        margin: 0;
      }
    }
  }

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}

main{
  width: 100%;
  text-align: left;
  overflow-y: scroll;
  height: calc(100vh - #{$header-height});
}
.content-wrapper{
  display: flex;
}

@import "./components/header";
@import "./components/sidebar";
@import "./components/cezar";